<h1>Novo Paciente</h1>

<form method="post">
    {% csrf_token %}

    <input
        type="text"
        name="nome"
        placeholder="Nome"
        required
    >

    <br><br>

    <input
        type="text"
        name="sexo"
        placeholder="Sexo"
        required
    >

    <br><br>

    <input
        type="date"
        name="data_nascimento"
        required
    >

    <br><br>

    <input
        type="number"
        step="0.01"
        name="altura"
        placeholder="Altura"
        required
    >

    <br><br>

    <input
        type="number"
        step="0.01"
        name="peso"
        placeholder="Peso"
        required
    >

    <br><br>

    <input
        type="email"
        name="email"
        placeholder="Email"
    >

    <br><br>

    <input
        type="text"
        name="telefone"
        placeholder="Telefone"
    >

    <br><br>

    <button type="submit">
        Salvar
    </button>

</form>